html, body, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, hr, img, a, em, span, strong, form, label, input, button, select, table, thead, tbody, tfoot, tr, th, td, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    vertical-align: baseline;
    font: inherit;
    font-family: 'Montserrat';
}

.div {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    vertical-align: baseline;
    font: inherit;
    height: 0;
}

body {
    background: #619f2d !important;
    /*background:  #F7F9FA !important;*/
}

html, body {
    overflow-x: hidden;
}

.menu-btn {
    width: 40px;
    height: 40px;
    text-align: center;
}

.logo img {
    width: 130px;
}

.head__container .wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 35px 15px 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.head__container {
    margin-bottom: 35px;
    background: #FFFFFF;
    padding-bottom: 20px;
}

.wrap {
    margin: 0 auto;
    padding: 0 20px;
}

.name-logo {
    color: rgba(0, 0, 0, 0.87);
    font-size: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.head__search {
    width: 70px;
}

.search-form {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search__head {
    text-decoration-line: underline;
    color: #516FA6;
}

.search__title-service {
    color: rgba(81, 111, 166, 0.80);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin: 15px 0;
}

.search__clinic-doctor {
    padding: 10px;
    background: #FFFFFF;
    border-radius: 5px;
    max-width: 340px;
    width: 100%;
}

.search__clinic-doctor img {
    width: 20px;
}

.search__search-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search__docclinic {
    width: 100%;
    color: rgba(0, 0, 0, 0.40);
    font-size: 13px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.search__city-metro {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    max-width: 340px;
    width: 100%;
    background: #FFFFFF;
}

.search__city-text {
    color: rgba(0, 0, 0, 0.40);
    font-size: 13px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    display: flex;
}

.actions__doctors {
    margin: 15px 0;
    display: flex;
    border-radius: 4px;
    background: rgba(81, 111, 166, 0.13);
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.10);
}

.actions__doctors h5 {
    color: rgba(0, 0, 0, 0.70);
    font-size: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 91.9%;
}

.actions__doctors-text {
    display: flex;
    padding: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.actions__doctors p {
    color: #000;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    line-height: 91.9%;
}

.search__btn {
    padding: 10px 20px;
    z-index: 5;
    border-radius: 22px;
    background: rgba(252, 91, 93, 0.80);
    color: #FFF;
    text-decoration-line: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions__doctors-image img {
    width: 167px;
}

.actions__doctors-house {
    border-radius: 4px;
    background: rgba(255, 186, 127, 0.22);
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.10);
    margin: 15px 0;
    display: flex;
}

.actions__doctors-house-text {
    display: flex;
    align-content: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 10px;
    flex-direction: column;
}

.actions__doctors-house-text h5 {
    color: rgba(0, 0, 0, 0.70);
    text-align: right;
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 91.9%;
}

.actions__doctors-house-text p {
    color: #000;
    text-align: right;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    line-height: 108%;
}

.actions__services {
    border-radius: 4px;
    background: rgba(255, 186, 127, 0.22);
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.10);
    display: flex;
}

.actions__services-text {
    display: flex;
    align-content: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 10px 15px;
    flex-direction: column;
}

.actions__services-text h5 {
    color: rgba(0, 0, 0, 0.70);
    text-align: right;
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 91.9%;
}

.actions__services-image {
    display: flex;
}

.actions__services-text p {
    color: #000;
    text-align: right;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    line-height: 108%;
}

.actions__mid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.actions__symptoms {
    border-radius: 4px;
    background: rgba(83, 166, 81, 0.13);
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.10);
    position: relative;
    width: 177px;
    height: 149px;
    margin-right: 10px;
}

.actions__symptoms-text {
    height: 100%;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.actions__symptoms img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 71px;
    height: 110px;
    opacity: 0.800000011920929;
}

.actions__symptoms-text p {
    color: #000;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    line-height: 108%;
}

.actions__symptoms-text h5 {
    color: rgba(0, 0, 0, 0.70);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 103.4%;
}

.actions__disease {
    border-radius: 4px;
    background: rgba(149, 81, 166, 0.13);
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.10);
    position: relative;
    width: 177px;
    height: 149px;
}

.actions__disease-text {
    height: 100%;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.actions__disease-text h5 {
    color: rgba(0, 0, 0, 0.70);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 103.4%;
}

.actions__disease-text p {
    color: #000;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    line-height: 108%;
}

.actions__disease img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 94px;
    height: 95px;
    opacity: 0.800000011920929;
}

.actions__all-count {
    border-radius: 13px;
    background: linear-gradient(136deg, rgba(147, 179, 244, 0.13) 0%, rgba(147, 179, 244, 0.00) 100%);
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.10);
    padding: 15px 20px;
    margin: 15px 0;
}

.actions__all-count span {
    color: #FD7583;
    font-size: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.actions__all-count p {
    color: rgba(0, 0, 0, 0.70);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.actions__brand {
    border-radius: 13px;
    background: #FFF;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.10);
    padding: 15px 20px;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}

.actions__brand h5 {
    color: #000;
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.actions__brand p {
    color: rgba(0, 0, 0, 0.80);
    font-size: 13px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: 130.4%;
}

.popular-doctor {
    border-radius: 13px;
    background: #FFF;
}

.popular-doctor__title {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 15px 0;
}

.popular-doctor__title h4 {
    margin: 10px 0;
}


.popular-doctor__doctors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.popular-doctor__container {
    max-width: 350px;
    width: 100%;
}

.popular-doctor__doctor-card {
    padding: 17px 30px;
    border-radius: 13px;
    background: #FFF;
}

.popular-doctor__head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 15px;
}

.popular-doctor__doctor-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
}

.popular-doctor__name {
    color: #000;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.popular-doctor__price {
    color: #000;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.popular-doctor__price p {
    color: #000;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 5px 10px;
}

.popular-doctor__price span {
    color: #FC5B5D;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: line-through;
}

.popular-doctor__star {
    border-radius: 10px;
    background: rgba(81, 111, 166, 0.80);
    width: 54px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 4px 2px;
    margin-right: 10px;
}

.popular-doctor__star p {
    margin: 0;
    color: #FFF;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.popular-doctor__count-review {
    display: flex;
    align-items: center;
}

.popular-doctor__count-review a {
    color: rgba(0, 0, 0, 0.70);
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    margin-left: 10px;
}

.popular-doctor__body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.popular-doctor__metro {
    color: rgba(0, 0, 0, 0.70);
    font-size: 13px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5px;
}

.popular-doctor__address {
    color: #000;
    font-size: 11px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

.popular-doctor__spec {
    color: rgba(0, 0, 0, 0.70);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
}

.popular-doctor__category-experience {
    color: #000;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.other-clinics {
    margin-bottom: 40px;
    border-radius: 13px;
    background: #FFF;
}

.other-clinics__title {
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin: 40px 0;
}

.other-clinics__photo img {
    margin-right: 15px;
}

.other-clinics__clinics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.other-clinics__head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    padding-bottom: 20px;
}

.other-clinics__container {
    max-width: 379px;
    width: 100%;
}

.other-clinics__clinic-card {
    border-radius: 13px;
    background: #FFF;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.other-clinics__clinic-info {
    padding: 0 20px;
}

.other-clinics__clinic-name {
    color: #000;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.other-clinics__clinic-address {
    color: #000;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
}

.other-clinics__clinic-metro {
    color: rgba(0, 0, 0, 0.30);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.other-clinics__star {
    border-radius: 10px;
    background: rgba(81, 111, 166, 0.80);
    width: 54px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 4px 2px;
    margin-right: 10px;
}

.other-clinics__star p {
    margin: 0;
    color: #FFF;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.other-clinics__clinic-reviews a {
    color: rgba(0, 0, 0, 0.70);
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    margin-left: 10px;
}

.other-clinics__clinic-reviews {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category__container h5 {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.category__body span {
    color: rgba(0, 0, 0, 0.30);
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.category__filter-item a {
    color: #516FA6;
    text-align: center;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: none;
}

.category__filter-item {
    border-radius: 6px;
    border: 1px solid #516FA6;
    list-style-type: none;
    padding: 3px 15px;
    margin: 5px;
}

.sort__container {
    border-radius: 13px;
    background: #FFF;
    padding: 15px;
}

.category__sort ul {
    margin: 10px;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.sort__filter {
    color: rgba(0, 0, 0, 0.80);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10px 0;
}

.sort__container h5 {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.sort__body span {
    color: rgba(0, 0, 0, 0.50);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sort__items ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sort__filter-item {
    border-bottom: 1px solid #00000019;
}

.sort__filter-item a {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: none;
}

.category__item span {
    color: #000;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.category__item a {
    color: #516FA6;
    font-size: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.category__item {
    border-top: 1px solid #0000001A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}

.category__container {
    border-radius: 13px;
    background: #FFF;
    padding: 10px 15px;
}

.clinic-card {
    margin: 15px 0;
    border-radius: 13px;
    background: #FFF;
}

.clinic-card__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.clinic-card__body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    padding: 10px 15px;
}

.clinic-card__footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 100%;
}

.clinic-card__name a {
    color: #000;
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: none;
}


.clinic-card__reviews a {
    color: #728AB6;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: none;
    margin-left: 10px;
}

.clinic-card__address {
    color: rgba(0, 0, 0, 0.70);
    text-align: center;
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.clinic-card__doctors {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0 15px;
}

.clinic-card__doctors a {
    color: rgba(0, 0, 0, 0.50);
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: none;
    margin: 10px 0;
}

.clinic-card__text-block {
    color: rgba(0, 0, 0, 0.70);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px 0;
}

.clinic-card__clinic-schedule {
    color: rgba(0, 0, 0, 0.70);
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px 0;
}

.clinic-card__clinic-close {
    color: #748CB8;
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px 0;
}

.clinic-card__metro-near {
    color: rgba(0, 0, 0, 0.70);
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 5px 0;
}

.clinic-card__metro-far {
    color: rgba(0, 0, 0, 0.70);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5px 0;
}

.clinic-card__phone {
    color: #516FA6;
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
    margin: 5px 0 20px;
}

.clinic-card__popular-procedure {
    margin: 10px 0;
}

.clinic-card__popular-procedure-price {
    color: #000;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #0000001A;
}

.clinic-card__popular-procedure-price p {
    color: #000;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 5px 10px;
}

.clinic-card__popular-procedure-price span {
    color: #FC5B5D;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: line-through;
}

.clinic-card__star {
    border-radius: 10px;
    background: rgba(81, 111, 166, 0.80);
    width: 54px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.clinic-card__star p {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

.clinic-card__reviews {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 10px 0;
}

.text-banner {
    background: rgba(116, 140, 184, 0.20);
    position: relative;
}

.text-banner img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2;
}

.text-banner__text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    text-align: right;
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px;
    margin: 15px 0;
}

.text-banner__text-block a {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 5px 0;
}










.popular-questions {
    border-radius: 13px;
    background: #FFF;
    padding: 10px 0;
}

.popular-questions h5 {
    color: #000;
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

.first-questions p, .second-questions p, .third-questions p {
    color: #000;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: rgba(253, 124, 125, 0.10);
    padding: 10px 20px;
    margin: 10px 0;
}

.info-about-project__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 15px;
    border: 1px solid #516FA6;
    background: #FFF;
    padding: 10px 20px;
}


.info-about-project__left p {
    color: rgba(0, 0, 0, 0.70);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 25px;
}

.review-card {
    border-radius: 13px;
    background: #FFF;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-card h5 {
    color: #000;
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    padding: 15px 0 10px;
}

.review-card__name-patient {
    color: #000;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.review-card__date {
    color: rgba(0, 0, 0, 0.70);
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 4px 0;
}

.review-card__shield {
    color: rgba(81, 111, 166, 0.80);
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    margin: 8px 0;
}

.review__btn {
    border-radius: 22px;
    background: rgba(252, 91, 93, 0.80);
    color: #FFF;
    text-decoration-line: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    margin: 15px;
}

.review-card__source-review {
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.review-card__comment {
    color: #000;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.review-card__comment p {
    color: rgba(0, 0, 0, 0.70);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 8px 0;
}

.review-card__head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0;
}

.review-card__left {
    display: flex;
    flex-direction: column;
}

.review-card__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.review-card__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-card__mark {
    border-radius: 4px;
    background: rgba(102, 189, 122, 0.70);
    width: 54px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 4px 2px;
    margin: 0;
    color: #FFFFFF;
}



.relinks__column {
    border-radius: 13px;
    background: #FFF;
    padding: 10px 20px;
    margin: 15px 0;
}

.relinks__column ul {
    list-style-type: none;
}

.relinks__link {
    color: #516FA6;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.breadcrumbs {
    border-radius: 13px;
    background: #FFF;
    padding: 10px 20px;
    margin: 15px 0;
}

.breadcrumbs a {
    color: #000;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 10px;
}

.breadcrumbs p {
    color: rgba(0, 0, 0, 0.50);
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.services__block {
    padding: 15px;
    margin: 20px 0;
    border-radius: 13px;
    background: #FFF;
    display: flex;
    flex-direction: column;
}

.services__list {
    list-style-type: none;
    margin: 0;
    padding: 0 15px;
}

.services__link {
    color: rgba(81, 111, 166, 0.80);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 147.9%;
}

.services__more {
    color: rgba(81, 111, 166, 0.80);
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 147.9%;
    text-decoration-line: underline;
    text-align: center;
}

.disease__top {
    border-radius: 13px;
    background: #FFF;
    padding: 13px;
}

.disease__top-head {
    padding: 10px 10px 0;
    color: rgba(0, 0, 0, 0.80);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130.4%;
}

.disease__top-footer {
    padding: 0 10px 10px;
    display: flex;
    flex-direction: column;
}

.disease__nav  {
    color: rgba(81, 111, 166, 0.80);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    padding: 5px;
}

.disease__top-right {
    color: rgba(0, 0, 0, 0.80);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130.4%;
    padding: 10px;
}

.disease__main {
    border-radius: 13px;
    background: #FFF;
    padding: 20px;
    margin: 15px 0;
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 130.4%;
}

.disease__center-text {
    color: rgba(0, 0, 0, 0.80);
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 130.4%;
}

.disease__center-text ul {
    padding-left: 1rem;
}

.disease__footer {
    margin: 20px 0;
    color: rgba(0, 0, 0, 0.44);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 130.4%;
    display: flex;
}

.disease__footer-date a {
    color: #516FA6CC;
}

.popular-doctor__doctors {
    border-radius: 13px;
    background: #FFF;
}

.popular-doctor__title {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-bottom: 1px solid #0000001A;
}

.disease__review-card__name-patient span {
    color: rgba(0, 0, 0, 0.70);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.disease__review-card__shield {
    color: rgba(81, 111, 166, 0.80);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    padding: 10px 0;
}

.disease__review-card__name-patient p {
    margin: 10px 0 0;
}

.disease__review-card__comment p {
    margin: 10px 0;
}

.second-container {
   background: rgba(81, 111, 166, 0.13);
}

.disease__review-card__container {
    padding: 5px 15px;
}

.review-card__container {
    padding: 0 15px 10px;
}

.contact__container h2 {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contact__head {
    border-radius: 13px;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
}

.contact__address {
    padding: 10px;
    color: #000;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
}

.contact__text-about {
    color: rgba(0, 0, 0, 0.80);
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    padding: 0 10px;
}

.contact__schedule {
    padding: 15px;
    color: rgba(0, 0, 0, 0.70);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact__map img {
    max-width: 350px;
    width: 100%;
}

.contact__footer {
    border-radius: 13px;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    margin: 10px 0;
    padding: 10px;
}

.contact__footer {
    color: #000;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 130.4%;
    display: flex;
    flex-direction: column;
}

.contact__phone a, .contact__mail a {
    color: #516FA6;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 130.4%;
    text-decoration-line: underline;
    display: flex;
    flex-direction: column;
    padding: 3px 0;
}

.contact__phone, .contact__mail {
    margin: 5px 0;
}

.feedback__container {
    display: flex;
    flex-direction: column;
    border-radius: 13px;
    background: #FFF;
    padding: 15px;
    margin: 10px 0 20px;
}

.feedback__container h2 {
    text-align: center;
}

.feedback__name-patient {
    margin: 10px 0;
}

.feedback__phone-patient {
    margin: 10px 0;
}

.feedback__sms-patient {
    margin: 10px 0;
}

.doctors-card {
    border-radius: 13px;
    background: #FFF;
    padding: 15px;
    margin: 15px 0;
}

.doctor-card__head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.doctor-card__body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.doctor-card__doctor-name a {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: none;
}


.doctor-card__doctor-prices {
    color: #000;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.doctor-card__doctor-prices p {
    color: #000;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 5px 10px;
}

.doctor-card__doctor-prices span {
    color: #FC5B5D;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: line-through;
}


.doctor-review-card__star {
    border-radius: 10px;
    background: rgba(81, 111, 166, 0.80);
    width: 54px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 4px 2px;
    margin-right: 10px;
}

.doctor-review-card__star p {
    margin: 0;
    color: #FFF;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.doctor-card__doctor-head-right {
    padding-left: 15px;
}

.doctors__clinic {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.doctors__clinic a {
    color: rgba(0, 0, 0, 0.70);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.doctor-card__doctor-spec {
    color: rgba(0, 0, 0, 0.70);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.doctor-card__doctor-experiences {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.doctor-card__doctor-experiences ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.doctor-card__doctor-category {
    border-radius: 4px;
    background: rgba(205, 189, 47, 0.29);
}

.doctor-card__doctor-degree {
    border-radius: 4px;
    background: rgba(102, 189, 122, 0.40);
}

.doctor-card__doctor-experiences ul li {
    margin: 10px 0;
}

.doctor-card__right span {
    color: rgba(0, 0, 0, 0.70);
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.doctor-card__record-clinic {
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 4px;
    background: rgba(81, 111, 166, 0.29);
}

.doctor-card__geo p {
    color: rgba(0, 0, 0, 0.80);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 10px 0;
}

.doctor-card__geo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.doctor-card__metro {
    color: rgba(0, 0, 0, 0.70);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 5px 0;
}

.doctor-card__geo a {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.listing {

}

.listing ul {
    list-style-type: none;
    margin: 2px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.listing li {
    border-radius: 4px;
    border: 1px solid #DFE3E8;
    background: #FFF;
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    color: #516FA6;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.listing img {
    width: 20px;
}

















































.footer-wrap {
    background: #FFFFFF;
}

.footer__about-clinic, .footer__for-patient, .footer__technical-info {
    color: #000;
    font-size: 13px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 5px 0;
}

.footer__container {
    height: auto;
}

.footer__body {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    width: 100%;
    min-height: 100%;
    padding: 20px 30px;
}

.linked-footer li {
    list-style-type: none;
    margin: 5px 0;
}

.linked-footer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.linked-name {
    color: rgba(81, 111, 166, 0.80);
    font-size: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 4px;
    text-decoration-line: none;
}

.phone-footer {
    color: #516FA6;
    font-size: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
}

.reference-footer {
    color: rgba(0, 0, 0, 0.70);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 10px 0;
}

.footer__communication {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.footer-logo img {
    width: 255px;
    height: 34px;
}

.link-seti a {
    text-decoration: none;
    margin: 10px 0;
}

.email-footer a {
    color: rgba(0, 0, 0, 0.70);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ooo-inn {
    color: rgba(0, 0, 0, 0.44);
    text-align: center;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px 0;
}

.social-media {
    margin: 10px 0;
}

.age-img img {
    width: 37px;
    height: 37px;
}

.last-in-footer {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    padding: 10px 0;
}




























@media (min-width: 600px) {
    .actions__doctors, .actions__doctors-house, .actions__services, .actions__all-count, .actions__brand {
        max-width: 340px;
        width: 100%;
        margin: 10px 5px;
    }

    .actions__items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }

    .search__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .search__clinic-doctor {
        margin: 0 10px;
    }

    .clinic-card {
        display: flex;
        flex-direction: row;
    }

    .clinic-card__head {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        padding: 15px;
    }

    .clinic-card__body {
        display: flex;
        padding: 10px 15px;
        flex-direction: column;
        justify-content: flex-start;
    }

    .clinic-card__footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
    }

    .clinic-card__doctors {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 15px;
    }

    .relinks__body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: center;
    }

    .relinks__column {
        border-radius: 13px;
        background: #FFF;
        padding: 10px 20px;
        margin: 15px;
        max-width: 300px;
        width: 100%;
        height: 100%;
    }
}