html, body, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, hr, img, a, em, span, strong, form, label, input, button, select, table, thead, tbody, tfoot, tr, th, td, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    vertical-align: baseline;
    font: inherit;
    font-family: 'Montserrat';
}

.div {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    vertical-align: baseline;
    font: inherit;
    height: 0;
}

body {
    background: #e5ebe0 !important;
    /* background:  #F7F9FA !important;*/
}

.menu-btn {
    width: 40px;
    height: 40px;
    text-align: center;
}

.logo img {
    width: 175px;
}

.head__container .wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 35px 15px 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.head__container {
    margin-bottom: 35px;
    background: #FFFFFF;
}

.wrap {
    margin: 0 auto;
    padding: 0 20px;
}

.head__search {
    width: 100px;
}

.search-form {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search__head {
    text-decoration-line: underline;
    color: #516FA6;
}

.search__clinic-doctor {
    padding: 10px;
    background: #FFFFFF;
    border-radius: 5px;
    max-width: 340px;
    width: 100%;
}

.search__clinic-doctor img {
    width: 20px;
}

.search__search-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search__docclinic {
    width: 100%;
    color: rgba(0, 0, 0, 0.40);
    font-size: 13px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.search__city-metro {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    max-width: 340px;
    width: 100%;
    background: #FFFFFF;
}

.search__city-text {
    color: rgba(0, 0, 0, 0.40);
    font-size: 13px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    display: flex;
}

.actions__doctors {
    margin: 15px 0;
    display: flex;
    border-radius: 4px;
    background: rgba(81, 111, 166, 0.13);
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.10);
}

.actions__doctors h5 {
    color: rgba(0, 0, 0, 0.70);
    font-size: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 91.9%;
}

.actions__doctors-text {
    display: flex;
    padding: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.actions__doctors p {
    color: #000;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    line-height: 91.9%;
}

.search__btn {
    width: 135px;
    height: 22px;
    border-radius: 22px;
    background: rgba(252, 91, 93, 0.80);
    color: #FFF;
    text-decoration-line: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions__doctors-image img {
    width: 167px;
}

.actions__doctors-house {
    border-radius: 4px;
    background: rgba(255, 186, 127, 0.22);
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.10);
    margin: 15px 0;
    display: flex;
}

.actions__doctors-house-text {
    display: flex;
    align-content: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 10px;
    flex-direction: column;
}

.actions__doctors-house-text h5 {
    color: rgba(0, 0, 0, 0.70);
    text-align: right;
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 91.9%;
}

.actions__doctors-house-text p {
    color: #000;
    text-align: right;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    line-height: 108%;
}

.actions__services {
    border-radius: 4px;
    background: rgba(255, 186, 127, 0.22);
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.10);
    display: flex;
}

.actions__services-text {
    display: flex;
    align-content: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: 10px 15px;
    flex-direction: column;
}

.actions__services-text h5 {
    color: rgba(0, 0, 0, 0.70);
    text-align: right;
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 91.9%;
}

.actions__services-image {
    display: flex;
}

.actions__services-text p {
    color: #000;
    text-align: right;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    line-height: 108%;
}

.actions__mid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.actions__symptoms {
    border-radius: 4px;
    background: rgba(83, 166, 81, 0.13);
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.10);
    position: relative;
    width: 177px;
    height: 149px;
    margin-right: 10px;
}

.actions__symptoms-text {
    height: 100%;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.actions__symptoms img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 71px;
    height: 110px;
    opacity: 0.800000011920929;
}

.actions__symptoms-text p {
    color: #000;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    line-height: 108%;
}

.actions__symptoms-text h5 {
    color: rgba(0, 0, 0, 0.70);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 103.4%;
}

.actions__disease {
    border-radius: 4px;
    background: rgba(149, 81, 166, 0.13);
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.10);
    position: relative;
    width: 177px;
    height: 149px;
}

.actions__disease-text {
    height: 100%;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.actions__disease-text h5 {
    color: rgba(0, 0, 0, 0.70);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 103.4%;
}

.actions__disease-text p {
    color: #000;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    line-height: 108%;
}

.actions__disease img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 94px;
    height: 95px;
    opacity: 0.800000011920929;
}

.actions__all-count {
    border-radius: 13px;
    background: linear-gradient(136deg, rgba(147, 179, 244, 0.13) 0%, rgba(147, 179, 244, 0.00) 100%);
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.10);
    padding: 15px 20px;
    margin: 15px 0;
}

.actions__all-count span {
    color: #FD7583;
    font-size: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.actions__all-count p {
    color: rgba(0, 0, 0, 0.70);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.actions__brand {
    border-radius: 13px;
    background: #FFF;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.10);
    padding: 15px 20px;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}

.actions__brand h5 {
    color: #000;
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.actions__brand p {
    color: rgba(0, 0, 0, 0.80);
    font-size: 13px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: 130.4%;
}

.popular-doctor {
    border-radius: 13px;
    background: #FFF;
}

.popular-doctor__title {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 15px 0;
}

.popular-doctor__title h4 {
    margin: 10px 0;
}


.popular-doctor__doctors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.popular-doctor__container {
    max-width: 350px;
    width: 100%;
}

.popular-doctor__doctor-card {
    padding: 17px 30px;
    border-radius: 13px;
    background: #FFF;
}

.popular-doctor__head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 15px;
}

.popular-doctor__doctor-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
}

.popular-doctor__name {
    color: #000;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.popular-doctor__price {
    color: #000;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.popular-doctor__price p {
    color: #000;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 5px 10px;
}

.popular-doctor__price span {
    color: #FC5B5D;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: line-through;
}

.popular-doctor__star {
    border-radius: 10px;
    background: rgba(81, 111, 166, 0.80);
    width: 54px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 4px 2px;
    margin-right: 10px;
}

.popular-doctor__star p {
    margin: 0;
    color: #FFF;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.popular-doctor__count-review {
    display: flex;
    align-items: center;
}

.popular-doctor__count-review a {
    color: rgba(0, 0, 0, 0.70);
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    margin-left: 10px;
}

.popular-doctor__body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.popular-doctor__metro {
    color: rgba(0, 0, 0, 0.70);
    font-size: 13px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5px;
}

.popular-doctor__address {
    color: #000;
    font-size: 11px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

.popular-doctor__spec {
    color: rgba(0, 0, 0, 0.70);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
}

.popular-doctor__category-experience {
    color: #000;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.other-clinics {
    margin-bottom: 40px;
    border-radius: 13px;
    background: #FFF;
}

.other-clinics__title {
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin: 40px 0;
}

.other-clinics__photo img {
    margin-right: 15px;
}

.other-clinics__clinics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.other-clinics__head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    padding-bottom: 20px;
}

.other-clinics__container {
    max-width: 379px;
    width: 100%;
}

.other-clinics__clinic-card {
    border-radius: 13px;
    background: #FFF;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.other-clinics__clinic-info {
    padding: 0 20px;
}

.other-clinics__clinic-name {
    color: #000;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.other-clinics__clinic-address {
    color: #000;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
}

.other-clinics__clinic-metro {
    color: rgba(0, 0, 0, 0.30);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.other-clinics__star {
    border-radius: 10px;
    background: rgba(81, 111, 166, 0.80);
    width: 54px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 4px 2px;
    margin-right: 10px;
}

.other-clinics__star p {
    margin: 0;
    color: #FFF;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.other-clinics__clinic-reviews a {
    color: rgba(0, 0, 0, 0.70);
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    margin-left: 10px;
}

.other-clinics__clinic-reviews {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



























.footer-wrap {
    background: #FFFFFF;
}

.footer__about-clinic, .footer__for-patient, .footer__technical-info {
    color: #000;
    font-size: 13px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 5px 0;
}

.footer__container {
    height: auto;
}

.footer__body {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    width: 100%;
    min-height: 100%;
    padding: 20px 30px;
}

.linked-footer li {
    list-style-type: none;
    margin: 5px 0;
}

.linked-footer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.linked-name {
    color: rgba(81, 111, 166, 0.80);
    font-size: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 4px;
    text-decoration-line: none;
}

.phone-footer {
    color: #516FA6;
    font-size: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
}

.reference-footer {
    color: rgba(0, 0, 0, 0.70);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 10px 0;
}

.footer__communication {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.footer-logo img {
    width: 255px;
    height: 34px;
}

.link-seti a {
    text-decoration: none;
    margin: 10px 0;
}

.email-footer a {
    color: rgba(0, 0, 0, 0.70);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ooo-inn {
    color: rgba(0, 0, 0, 0.44);
    text-align: center;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.age-img {
    width: 37px;
    height: 37px;
}

.last-in-footer {
    color: #000;
    text-align: center;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}




























@media (min-width: 600px) {
    .actions__doctors, .actions__doctors-house, .actions__services, .actions__all-count, .actions__brand {
        max-width: 340px;
        width: 100%;
        margin: 10px 5px;
    }

    .actions__items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }

    .search__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .search__clinic-doctor {
        margin: 0 10px;
    }
}