html, body, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, hr, img, a, em, span, strong, form, label, input, button, select, table, thead, tbody, tfoot, tr, th, td, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    vertical-align: baseline;
    font: inherit;
    font-family: 'Montserrat';
}

.div {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    vertical-align: baseline;
    font: inherit;
    height: 0;
}

body {
   /* background: #e5ebe0 !important;*/
    background:  #F7F9FA !important;
}

.head__container .wrap {
    display: flex;
    justify-content: space-between;
    padding: 37px 25px 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.head__container {
    background: #FFFFFF;
}

.wrap {
    width: 1270px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.top-menu__wrap {
    width: 1270px;
    max-width: 100%;
    margin: 15px auto;
    padding: 15px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.header__phone {
    color: #516FA6;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
}

.menu-item {
    color: rgba(81, 111, 166, 0.80);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    margin-right: 10px;
    border-right: 1px solid #516FA6;
    padding-right: 10px;
}

.search {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.search__title {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.search__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.js-search-input {
    width: 100%;
    color: rgba(0, 0, 0, 0.40);
    font-size: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.search__search-form {
    display: flex;
}

.search__clinic-doctor img {
    width: 20px;
}

.search__clinic-doctor {
    margin: 10px;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 5px;
    width: 370px;
}

.search__city-metro {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 370px;
    background: #FFFFFF;
}

.search__city-text {
    color: rgba(0, 0, 0, 0.40);
    font-size: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    display: flex;
}

.search__btn {
    width: 184px;
    height: 40px;
    border-radius: 22px;
    background: rgba(252, 91, 93, 0.80);
    color: #FFF;
    text-decoration-line: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions__items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.actions__top {
    display: flex;
    padding: 15px;
    margin: 10px;
}

.actions__mid {
    display: flex;
    padding: 15px;
    margin: 10px;
}

.actions__bot {
    display: flex;
    padding: 15px;
    margin: 10px;
}

.actions__doctors {
    border-radius: 4px;
    background: rgba(81, 111, 166, 0.13);
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.10);
    width: 448px;
    height: 200px;
    display: flex;
    margin: 15px;
}

.actions__doctors-text {
    width: 230px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    align-items: flex-start;
    padding: 15px;
}

.actions__doctors-text p {
    color: #000;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    line-height: 108%;
}

.actions__doctors-text h5 {
    color: rgba(0, 0, 0, 0.70);
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 91.9%;
}

.actions__doctors-house {
    width: 611px;
    height: 200px;
    border-radius: 4px;
    background: rgba(255, 186, 127, 0.22);
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.10);
    margin: 15px;
    display: flex;
}

.actions__doctors-house-text {
    display: flex;
    align-content: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    align-items: flex-end;
    padding: 15px;
    flex-direction: column;
}

.actions__doctors-house-text h5 {
    color: rgba(0, 0, 0, 0.70);
    text-align: right;
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 91.9%;
}

.actions__doctors-house-text p {
    color: #000;
    text-align: right;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    line-height: 108%;
}

.actions__services {
    border-radius: 4px;
    background: rgba(255, 186, 127, 0.22);
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.10);
    width: 558px;
    height: 200px;
    padding: 15px;
    margin: 15px;
    display: flex;
}

.actions__services-text {
    display: flex;
    align-content: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    align-items: flex-end;
    padding: 15px;
    flex-direction: column;
}

.actions__services-text h5 {
    color: rgba(0, 0, 0, 0.70);
    text-align: right;
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 91.9%;
}

.actions__services-text p {
    color: #000;
    text-align: right;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    line-height: 108%;
}

.actions__symptoms {
    border-radius: 4px;
    background: rgba(83, 166, 81, 0.13);
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.10);
    width: 234px;
    height: 200px;
    margin: 15px;
    padding: 15px;
    position: relative;
}

.actions__symptoms-text {
    height: 100%;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.actions__symptoms-image img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.actions__symptoms-text p {
    color: #000;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    line-height: 108%;
}

.actions__symptoms-text h5 {
    color: rgba(0, 0, 0, 0.70);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 103.4%;
}

.actions__disease {
    border-radius: 4px;
    background: rgba(149, 81, 166, 0.13);
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.10);
    width: 233px;
    height: 200px;
    margin: 15px;
    padding: 15px;
    position: relative;
}

.actions__disease-text {
    height: 100%;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.actions__disease-text h5 {
    color: rgba(0, 0, 0, 0.70);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 91.9%;
}

.actions__disease-text p {
    color: #000;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    line-height: 108%;
}

.actions__disease-image img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
}

.actions__all-count {
    border-radius: 13px;
    background: linear-gradient(136deg, rgba(147, 179, 244, 0.13) 0%, rgba(147, 179, 244, 0.00) 100%);
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.10);
    width: 430px;
    height: 265px;
    padding: 15px 45px;
    margin: 15px;
}

.actions__all-count span {
    color: #FD7583;
    font-size: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.actions__all-count p {
    color: rgba(0, 0, 0, 0.70);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.actions__brand {
    border-radius: 13px;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    width: 633px;
    height: 184px;
    flex-shrink: 0;
    padding: 15px 40px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}

.actions__brand h5 {
    color: #000;
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.actions__brand p {
    color: rgba(0, 0, 0, 0.80);
    font-size: 13px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: 130.4%;
}

.popular-doctor__title {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 40px;
}

.popular-doctor__doctors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.popular-doctor__container {
    max-width: 350px;
    width: 100%;
    margin: 15px;
}

.popular-doctor__doctor-card {
    padding: 17px 30px;
    border-radius: 13px;
    background: #FFF;
}

.popular-doctor__head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 15px;
}

.popular-doctor__doctor-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
}

.popular-doctor__name {
    color: #000;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.popular-doctor__price {
    color: #000;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.popular-doctor__price p {
    color: #000;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 5px 10px;
}

.popular-doctor__price span {
    color: #FC5B5D;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: line-through;
}

.popular-doctor__star {
    border-radius: 10px;
    background: rgba(81, 111, 166, 0.80);
    width: 54px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 4px 2px;
    margin-right: 10px;
}

.popular-doctor__star p {
    margin: 0;
    color: #FFF;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.popular-doctor__count-review {
    display: flex;
    align-items: center;
}

.popular-doctor__count-review a {
    color: rgba(0, 0, 0, 0.70);
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    margin-left: 10px;
}

.popular-doctor__body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.popular-doctor__metro {
    color: rgba(0, 0, 0, 0.70);
    font-size: 13px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5px;
}

.popular-doctor__address {
    color: #000;
    font-size: 11px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
}

.popular-doctor__spec {
    color: rgba(0, 0, 0, 0.70);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
}

.popular-doctor__category-experience {
    color: #000;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.other-clinics {
    margin-bottom: 40px;
}

.other-clinics__title {
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin: 40px 0;
}

.other-clinics__clinics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.other-clinics__head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    padding-bottom: 20px;
}

.other-clinics__container {
    max-width: 379px;
    width: 100%;
    margin: 15px;
}

.other-clinics__clinic-card {
    border-radius: 13px;
    background: #FFF;
    padding: 17px 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.oher-clinics__clinic-info {
    padding: 0 20px;
}

.other-clinics__clinic-name {
    color: #000;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.other-clinics__clinic-address {
    color: #000;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
}

.other-clinics__clinic-metro {
    color: rgba(0, 0, 0, 0.30);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.other-clinics__star {
    border-radius: 10px;
    background: rgba(81, 111, 166, 0.80);
    width: 54px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 4px 2px;
    margin-right: 10px;
}

.other-clinics__star p {
    margin: 0;
    color: #FFF;
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.other-clinics__clinic-reviews a {
    color: rgba(0, 0, 0, 0.70);
    font-size: 12px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    margin-left: 10px;
}

.other-clinics__clinic-reviews {
    display: flex;
    align-items: center;
}






























@media (max-width: 1200px) {
    .actions__mid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

    }

    .actions__top {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .actions__bot{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}






































































.footer-wrap {
    width: 1270px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 10px;
}

.footer__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 20px;
    background: #FFFFFF;
}

.footer__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.footer-logo img {
    width: 250px;
}

.linked-footer {
    padding: 0;
    margin: 0;
}

.linked-footer li {
    list-style-type: none;
}

.linked-footer li a {
    color: #516FA6;
    font-size: 17px;
    padding: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__title {
    color: #000;
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer__about-clinic, .footer__for-patient, .footer__technical-info, .footer__communication {
    padding: 5px 25px;
}

.last-in-footer {
    color: #000;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.phone-footer {
    color: #516FA6;
    font-size: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
}

.footer__communication {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-seti a {
    text-decoration: none;
}

.email-footer a {
    color: rgba(0, 0, 0, 0.70);
    text-align: right;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: none;
}

.ooo-inn {
    color: rgba(0, 0, 0, 0.44);
    text-align: right;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.link-seti img {
    width: 28px;
    margin: 4px;
}

.age-img img {
    width: 35px;
}