html, body, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, hr, img, a, em, span, strong, form, label, input, button, select, table, thead, tbody, tfoot, tr, th, td, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    vertical-align: baseline;
    font: inherit;
    font-family: 'Montserrat';
}

.div {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    vertical-align: baseline;
    font: inherit;
    height: 0;
}

.head_container .wrap {
    display: flex;
    justify-content: space-between;
    padding: 37px 10px 0;
}

.wrap {
    max-width: 1145px;
    margin: 0 auto;
    padding: 0 10px;
}


.logo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #232323;
}

.header__phone {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
    color: #232323;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
}

.menu-item_active {
    box-sizing: border-box;
    width: 117px;
    height: 42px;
    margin-right: 17px;
    border: 1px solid #232323;
    border-radius: 22px;
    list-style-type: none;
    text-align: center;
    display: flex;
    background: #232323;
    align-items: center;
    justify-content: center;
}

.root-item_active {
    text-decoration-line: none;
    color: white;
}

.menu-item {
    box-sizing: border-box;
    width: 117px;
    height: 42px;
    margin-right: 17px;
    border: 1px solid #232323;
    border-radius: 22px;
    list-style-type: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-menu__wrap {
    max-width: 1230px;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
}

.root-item {
    text-decoration-line: none;
    color: #232323;
}

.search-form {
    border-bottom: 1px solid #BCBCBC;
    width: 274px;
    height: 35px;
    background: no-repeat;
    color: #8A8A8E;
}

.search img {
    width: 20px;
}

.sort {
    display: flex;
    justify-content: flex-start;
    background: #FFFFFF;
    border-radius: 4px;
    margin-bottom: 30px;
}

.sorting {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    margin-right: 15px;
}


.clinic-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.clinic-card__left {
    text-align: center;
}

.clinic-phone img {
    max-width: 100px;
}

.clinic-card__doctors {
    margin-top: 11px;
    font-size: 19px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.clinic-card__doctors img {
    max-width: 18px;
    margin-right: 5px;
}

.clinic-card__reviews img {
    max-width: 20px;
}

.clinic-card__reviews-count {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

.clinic-card__percent-review {
    font-style: normal;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 5px;
    text-decoration-line: none;
}

.clinic_service-popular_item {
    display: flex;
    border-bottom: #e8e8e8 2px solid;
    justify-content: space-between;
}

.clinic-info {
    font-size: 30px;
    line-height: 37px;
}

.clinic-card__photo-clinic img {
    max-width: 60%;
}

.clinic-card__name {
    font-size: 30px;
    margin-bottom: 15px;
}

.clinic-card__type {
    font-size: 18px;
    margin-bottom: 15px;
}

.clinic-card__address {
    font-family: 'Inter';
    margin-bottom: 15px;
}

.clinic-card__text-block {
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}


.clinic-card__clinic-schedule {
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
}


.clinic-card__metro {
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);

}

.clinic-card__metro-near {
    margin-bottom: 11px;
}

.clinic-card__metro-further {
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 23px;
}

.clinic-card__phone {
    margin-bottom: 42px;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
}

.btn_records {
    background: #FFF04B;
    border-radius: 4px;
    width: 241px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn_records a {
    font-family: 'Rubik';
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: none;
    color: #000000;
}


.services {
    margin-bottom: 50px;
}

.service__body {
    height: 500px;
    width: 100%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.service__title {
    text-align: center;
}

.service-item {
    text-decoration-line: underline;
    width: 31.5%;
    margin: 36px 17px 5px 1px;
}

.service-item a {
    color: rgba(0, 0, 0, 0.8);
}


.service__clinic-phone {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 25px;
}

.service__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.service__condition-visit {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.3);
}

.pagination_listing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

.pagination_item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 22px;
    margin: 0 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #BCBCBC;
}

.pagination_link {
    text-decoration-line: none;
    color: #BCBCBC;
}

.pagination_link-back {
    border: 1px solid #BCBCBC;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #BCBCBC;
    text-decoration-line: none;
}

.pagination_link-active {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #185BC3;
    text-decoration-line: none;
}


.attention-for-patient {
    margin: 40px 0;
    width: 1156px;
    height: 79px;
    border: 1px solid #FF6472;
    border-radius: 4px;
}

.attention-container {
    width: 1041px;
    padding: 10px 70px;
}

.alert-for-view {
    color: #FF6472;
}

.alert-for-view img {
    width: 20px;
    color: red;
}

.alert-info {
    color: rgba(0, 0, 0, 0.7);
}

.review-clinic-text {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #232323;
}

.condition-visit {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.3);
}


.last-review__clinic-address {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.last-review__clinic-name {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.last-review__clinic-count-reviews {
    margin-left: 80px;
}

.last-review__clinic {
    margin: 10px 40px 0 0;
}

.review-clinic-text {
    margin: 60px;
}

.last-review {
    margin-top: 50px;
    background: #F7EDDF;
}

.last-review__clinic-title {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #232323;
    padding: 50px;
}

.review__clinics {
    display: flex;
}

.last-review_wrap {
    height: 450px;
    max-width: 1145px;
    margin: 0 auto;
    padding: 0 10px;
}

.last-review__card-clinic {
    width: 379px;
    height: 225px;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-right: 15px;
}

.last-review__card-clinic__photo img {
    width: 81px;
}

.last-review__clinic-card__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.last-review__clinic-card-container {
    padding: 17px 30px;
    width: 100%;
}

.counts-reviews {
    font-style: normal;
    font-size: 12px;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.7);
}

.last-review__clinic-count-reviews img {
    width: 20px;
}

.last-review__clinic-count-reviews {
    height: 25px;
}

.last-review__clinic__author-review {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
}

.last-review__clinic__comment-head {
    font-weight: 500;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
}

.last-review__clinic__comment {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
}

.review_on_doctor {
    font-size: 14px;
    margin-bottom: 9px;
}

.info-docspec {
    text-align: center;
    margin: 40px;
}

.popup-questions {
    text-align: center;
    margin: 40px;
}

.breadcrumbs-item {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.8);
}

.breadcrumbs {
    margin-bottom: 30px;
}


.footer__container{
    height: 800px;
    background: #F7EDDF;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 80px 300px;
}

.footer__body {
    width: 100%;
    display: flex;
    padding: 80px calc(3% + 15px);
}

.footer__head {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #232323;
}

.mail-footer a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.7);
}

.linked-footer {
    list-style-type: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #0C0C0C;
    padding: 0;
}

.linked-name {
    color: #0C0C0C;
    margin-bottom: 25px;
}

.linked-footer li {
    margin-bottom: 15px;
}

.footer__about-clinic {
    width: 25%;
}

.footer__for-patient {
    width: 25%;
}

.footer__reference {
    width: 25%;
}

.footer__technical-info {
    width: 25%;
}

.link-seti img {
    width: 28px;
    margin: 4px;
}

.age-img {
    margin-right: 15px;
}

.age-img img {
    width: 35px;
    color: rgba(0, 0, 0, 0.8);
}

.link-seti a {
    text-decoration: none;
}


.phone-footer {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
    color: #000000;
    margin-bottom: 10px;
}

.social-media {
    display: flex;
}

.reference-footer {
    margin-bottom: 31px;
}

.email-footer {
    text-align: center;
}

.email-footer a {
    text-decoration-line: none;
    font-size: 20px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.7);
}

.last-in-footer {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}

.ooo-inn {
    font-style: normal;
    font-weight: 500;
    width: 190px;
    height: 80px;
    text-align: right;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.44);
}

.footer__communication {
    display: flex;
    justify-content: space-between;
}






























