html, body, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, hr, img, a, em, span, strong, form, label, input, button, select, table, thead, tbody, tfoot, tr, th, td, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    vertical-align: baseline;
    font: inherit;
    font-family: 'Montserrat';
}

.div {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    vertical-align: baseline;
    font: inherit;
    height: 0;
}

.header .wrap {
    display: flex;
    justify-content: space-between;
    padding: 37px 10px 0;
}

.wrap {
    max-width: 1145px;
    margin: 0 auto;
    padding: 0 10px;
}


.logo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #232323;
}

.header__phone {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
    color: #232323;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
}

.menu-item_active {
    box-sizing: border-box;
    width: 117px;
    height: 42px;
    margin-right: 17px;
    border: 1px solid #232323;
    border-radius: 22px;
    list-style-type: none;
    text-align: center;
    display: flex;
    background: #232323;
    align-items: center;
    justify-content: center;
}

.root-item_active {
    text-decoration-line: none;
    color: white;
}

.items {
    margin-bottom: 30px;
}

.menu-item {
    box-sizing: border-box;
    width: 117px;
    height: 42px;
    margin-right: 17px;
    border: 1px solid #232323;
    border-radius: 22px;
    list-style-type: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-menu__wrap {
    max-width: 1230px;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
}

.root-item {
    text-decoration-line: none;
    color: #232323;
}

.search-btn, .search-form {
    border-radius: 50%;
    float: left;
    width: 40px;
    height: 40px;
    margin: 0 0 0 -100%;
    position: relative;
    left: 7px
}

.search-form {
    z-index: 50;
    width: 324px;
}

.search-form form {
    width: 324px;
    border-radius: 20px;
    background: #f6fafa;
}

.search-form input {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
}

.search-btn {
    background: url('../../img/search-btn.png') no-repeat;
    max-width: 20px;
    margin: 0 0 0 -40px;
    left: 0;
    cursor: pointer
}

.sort {
    display: flex;
    justify-content: flex-start;
    background: #FFFFFF;
    border-radius: 4px;
}

.sorting {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    margin-right: 15px;
}


.clinic-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.clinic-info-left {
    text-align: center;
}

.clinic-phone img {
    max-width: 100px;
}

.clinic-doctors {
    margin-top: 11px;
    font-size: 19px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.clinic-doctors img {
    max-width: 18px;
    margin-right: 5px;
}

.clinic-reviews img {
    max-width: 20px;
}

.reviews-count {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

.percent-review {
    font-style: normal;
    text-decoration-line: none;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 5px;
}

.clinic-info {
    font-size: 30px;
    line-height: 37px;
}

.clinic-info-center {
}

.photo-clinic img {
    max-width: 60%;
}

.clinic-name {
    font-size: 30px;
}

.clinic-type {
    font-size: 18px;
}

.clinic-address {
    font-family: 'Inter';
}

.clinic-text-block {
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
}


.clinic-schedule {
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
}


.clinic-metro {
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);

}

.clinic-metro-near {
    margin-bottom: 11px;
}

.clinic-metro-further {
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 23px;
}

.clinic-phone {
    margin-bottom: 42px;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
}

.btn_records {
    background: #FFF04B;
    border-radius: 4px;
    width: 241px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_records a {
    font-family: 'Rubik';
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: none;
    color: #000000;
}

.clinic_service-item {
    list-style-type: none;
}

.clinic_service-popular_item {
    display: flex;
    border-bottom: #e8e8e8 2px solid;
    justify-content: space-between;
}


.pagination_listing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

.pagination_item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #BCBCBC;
}

.pagination_link {
    text-decoration-line: none;
    color: #BCBCBC;
}

.pagination_link-back {
    border: 1px solid #BCBCBC;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #BCBCBC;
    text-decoration-line: none;
}

.pagination_link-active {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #185BC3;
    text-decoration-line: none;
}





.attention-for-patient {
    margin: 40px 0;
    width: 1156px;
    height: 79px;
    border: 1px solid #FF6472;
    border-radius: 4px;
}

.attention-container {
    width: 1041px;
    padding: 10px 70px;
}

.alert-for-view {
    color: #FF6472;
}

.alert-for-view img {
    width: 20px;
    color: red;
}

.alert-info {
    color: rgba(0, 0, 0, 0.7);
}

.clinic-service-text {
    text-align: center;
}


.clinic-service-items {
    width: 100%;
    margin-left: 100px;
    display: flex;
}

.review-clinic-text {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #232323;
}


.service-name {
    text-decoration-line: underline;
    width: 31.5%;
    margin: 36px 17px 5px 1px;
}

.first, .second, .third {
    width: 33.3%;
}

.under-services-phone {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 25px;
}

.clinic-under-services {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.condition-visit {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.3);
}


.last-review-clinic {
    background: #F7EDDF;
}

.review__clinics {
    display: flex;
}

.last-review-clinic_wrap {
    height: 430px;
    max-width: 1145px;
    margin: 0 auto;
    padding: 0 10px;
}

.last-review-clinic__card-clinic {
    width: 390px;
    height: 240px;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-right: 15px;
}

.last-review-clinic__card-clinic__photo img {
    width: 81px;
}

.clinic-card-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.clinic-card-container {
    padding: 17px 30px;
    width: 100%;
}

.abc {
    font-style: normal;
    font-size: 12px;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.7);
}

.last-review-clinic-count img {
    width: 20px;
}

.last-review-clinic-count {
    height: 25px;
}

.review_on_doctor {
    font-size: 14px;
    margin-bottom: 9px;
}

.author-review {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 7px;
}

.comment-head {
    font-weight: 500;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
}

.comment {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
}

.info-docspec {
    text-align: center;
    margin: 40px;
}

.popup-questions {
    text-align: center;
    margin: 40px;
}

.breadcrumbs-item {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.8);
}

.breadcrumbs {
    margin-bottom: 30px;
}



































.footer {
    height: 896px;
    background: #F7EDDF;
}

.footer-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 80px;
}

.clinic-about {
    width: 100%;
    display: flex;
    min-height: 100%;
    padding: 80px calc(3% + 15px);
}

.name-clinics-footer {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #232323;
}

.head-block {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 25px;
}

.mail-footer a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.7);
}

.linked-footer {
    list-style-type: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #0C0C0C;
    padding: 0;
}

.linked-name {
    color: #0C0C0C;
    margin-bottom: 25px;
}

.linked-footer li {
    margin-bottom: 15px;
}

.first-block {
    width: 25%;
}

.second-block {
    width: 25%;
}

.third-block {
    width: 25%;
}

.fourth-block {
    width: 25%;
}

.link-seti img {
    width: 28px;
    margin: 4px;
}

.age-img {
    margin-right: 15px;
}

.age-img img {
    width: 35px;
    color: rgba(0, 0, 0, 0.8);
}

.link-seti a {
    text-decoration: none;
}

.left-content-footer {
}

.phone-footer {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
    color: #000000;
    margin-bottom: 10px;
}

.social-media {
    display: flex;
}

.reference-footer {
    margin-bottom: 31px;
}

.email-footer {
    text-align: center;
}

.email-footer a {
    text-decoration-line: none;
    font-size: 20px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.7);
}

.last-in-footer {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}

.ooo-inn {
    font-style: normal;
    font-weight: 500;
    width: 190px;
    height: 80px;
    text-align: right;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.44);
}

.under-clinic-about {
    display: flex;
    justify-content: space-between;
}