html, body, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, hr, img, a, em, span, strong, form, label, input, button, select, table, thead, tbody, tfoot, tr, th, td, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    vertical-align: baseline;
    font: inherit;
    font-family: 'Montserrat';
}

.div {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    vertical-align: baseline;
    font: inherit;
    height: 0;
}

.head_container .wrap {
    display: flex;
    justify-content: space-between;
    padding: 37px 10px 0;
}

.head_container {
    margin-bottom: 35px;
}

.wrap {
    max-width: 850px;
    margin: 0 auto;
    padding: 0 10px;
}

.burger-menu {
    background: url("../../img/menu-btn.png")no-repeat;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.logo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 24px;
    color: #232323;
}

.search-form {
    font-size: 35px;
}

.main_wrap {
    max-width: 850px;
    margin: 0 auto;
    padding: 0 10px;
}

.sort {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}

.sort_popular {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sort_rating {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sort_count_review {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sorting {
    color: rgba(0, 0, 0, 0.5);
    text-decoration-line: none;
    margin-right: 33px;
}


.clinic-card {
    margin: 50px 0 100px;
}

.clinic-card__container {
    display: flex;
}

.photo-clinic {
    width: auto;
}

.photo-clinic img{
    width: 400px;
    margin-right: 20px;
}


.clinic-card__clinic-name {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #000000;
}

.clinic-card__clinic-address {
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.7);
}

.percent-review {
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    text-decoration-line: none;
    color: rgba(0, 0, 0, 0.7);
}

.reviews-count {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.7);
}

.clinic-card__clinic-schedule {
    color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
}

.clinic-card__clinic-metro-near {
    font-size: 35px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
}

.clinic-card__clinic-metro-further {
    color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    margin-bottom: 10px;
}

.clinic-card__clinic-phone {
    font-size: 37px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 35px;
}

.clinic-card__clinic-text-block {
    color: rgba(0, 0, 0, 0.5);
    font-size: 33px;
    margin-bottom: 50px;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}

.service__title {
    font-size: 50px;
    margin-bottom: 50px;
}

.service-item {
    font-size: 40px;
    text-decoration-line: underline;
    margin-bottom: 35px;
}

.service__body {
    padding: 0 40px;
}

.service__clinic-phone {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.service__condition-visit {
    font-size: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    text-decoration-line: underline;
    margin-top: 50px;
}

.popular-doctor {
    padding: 40px 80px;
}

.popular-doctor__container {
    display: flex;
}

.popular-doctor__img img {
    border-radius: 50%;
}

.doctor_percent-review {
    font-size: 30px;
    color: #000000;
}

.doctor_reviews-count {
    font-size: 25px;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.5);
}

.popular-doctor__doctor-name {
    font-size: 35px;
}

.doctor-card {
    border: 1px solid #BCBCBC;

}

.popular-doctor__doctor-category {
    color: rgba(0, 0, 0, 0.3);
    font-size: 30px;
}

.popular-doctor__doctor-spec {
    color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    margin-bottom: 30px;
}

.popular-doctor__doctor-address {
    color: rgba(0, 0, 0, 0.7);
    font-size: 38px;
    margin-bottom: 35px;
}

.popular-doctor__doctor-phone {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 40px;
}

.clinic-card__button {
    display: flex;
    justify-content: center;
}

.btn_records {
    background: #FFF04B;
    border-radius: 4px;
    width: 500px;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_records a {
    font-family: 'Rubik';
    font-size: 50px;
    text-decoration-line: none;
    color: #000000;
}

.popular-doctor__button-mobile {
    display: flex;
    justify-content: center;
}

.clinic-review-count {
    font-size: 35px;
}

.counts-reviews {
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.7);
}

.review_clinics {
    padding: 40px 80px;
}

.last-review__clinic-card__head {
    display: flex;
}

.last-review__clinic-card__container {
    padding: 40px 50px;
}

.last-review__count-reviews {
    font-size: 35px;
    margin: 0 0 30px 240px;
}

.last-review__clinic-body {
    margin-left: 20px;
}

.last-review__card-clinic__photo img {
    width: 200px;
}

.last-review__clinic-title {
    font-weight: 500;
    font-size: 60px;
    color: #232323;
    text-align: center;
}

.last-review__clinic-name {
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    color: #000000;
}

.last-review__clinic-geo {
    margin-left: 50px;
}

.last-review__clinic-address {
    font-size: 33px;
}

.last-review__clinic-author{
    color: rgba(0, 0, 0, 0.7);
    font-size: 35px;
}

.last-review__clinic-comment-head {
    color: rgba(0, 0, 0, 0.8);
    font-size: 35px;
    font-weight: 500;
}

.last-review__clinic-comment {
    color: rgba(0, 0, 0, 0.7);
    font-size: 35px;
}

.last-review__clinic-card {
    border: 1px solid #BCBCBC;
}


.last-review {
    margin-bottom: 100px;
}

.last-review__doctor-title {
    font-weight: 500;
    font-size: 60px;
    color: #232323;
    text-align: center;
}

.last-review__doctor-card {
    border: 1px solid #BCBCBC;
}

.last-review__doctor-card__head {
    display: flex;
}

.last-review__doctor-card__container {
    padding: 40px 50px;
}

.last-review__doctor-title {
    font-weight: 500;
    font-size: 60px;
    color: #232323;
    text-align: center;
}

.last-review__card-doctor__photo img {
    width: 200px;
}

.last-review__doctor-spec {
    font-size: 30px;
}

.last-review__doctor-surname {
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    color: #000000;
}

.last-review__doctor-name-spec {
    margin-left: 40px;
}

.last-review__doctor-name {
    font-size: 30px;
}

.last-review__doctor-address {
    font-size: 33px;
}

.last-review__doctor-author{
    color: rgba(0, 0, 0, 0.7);
    font-size: 35px;
}

.last-review__doctor-comment-head {
    color: rgba(0, 0, 0, 0.8);
    font-size: 35px;
    font-weight: 500;
}

.last-review__doctor-comment {
    color: rgba(0, 0, 0, 0.7);
    font-size: 35px;
}

.doctor-review-count {
    font-size: 35px;
}

.clinic-service-text {
    text-align: center;
}

.info-docspec {
    text-align: center;
    font-weight: 500;
    font-size: 60px;
    color: #232323;
}


.text-block {
    font-size: 35px;
}

.popup-questions-title {
    text-align: center;
    margin: 40px;
    font-weight: 500;
    font-size: 60px;
    color: #232323;
}

.first-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(217, 217, 217, 0.15);
    border-radius: 4px;
    height: auto;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 25px;
    font-size: 40px;
}

.first-question span {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.8);
}

.second-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(217, 217, 217, 0.15);
    border-radius: 4px;
    height: auto;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 25px;
}

.second-question span {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.8);
}

.third-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(217, 217, 217, 0.15);
    border-radius: 4px;
    height: auto;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 25px;
}

.third-question span {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.8);
}

.breadcrumbs {
    margin: 30px 0;
}

.breadcrumbs-item {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 24px;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.8);
}



.footer__container {
    height: auto;
    background: #F7EDDF;
}

.footer__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 40px 80px;
    font-size: 30px;
}

.linked-footer {
    list-style-type: none;
}

.linked-name {
    text-decoration-line: none;
    color: rgba(12, 12, 12, 0.8);
    font-size: 36px;
}

.footer__about-clinic {
    margin-bottom: 30px;
}

.footer__about-clinic-title {
    font-weight: 500;
    font-size: 40px;
    color: #000000;
    margin-bottom: 20px;
}

.footer__for-patient {
    margin-bottom: 30px;
}

.footer__for-patient-title {
    font-weight: 500;
    font-size: 40px;
    color: #000000;
    margin-bottom: 20px;
}

.footer__reference {
    margin-bottom: 30px;
}

.footer__reference-title {
    font-weight: 500;
    font-size: 40px;
    color: #000000;
    margin-bottom: 20px;
}

.footer__technical-info {
    margin-bottom: 30px;
}

.footer__reference-title {
    font-weight: 500;
    font-size: 40px;
    color: #000000;
    margin-bottom: 20px;
}

.footer__communication {
    text-align: center;
}

.phone-footer {
    font-weight: 600;
    font-size: 45px;
    text-decoration-line: underline;
    color: #000000;
}

.footer__name-clinic {
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    color: #000000;
}

.email-footer {
    color: rgba(0, 0, 0, 0.7);
    text-decoration-line: none;
    font-size: 45px;
}

.ooo-inn {
    color: rgba(0, 0, 0, 0.44);
    margin-bottom: 40px;
}

.link-seti {
    margin-bottom: 40px;
}

.link-seti a {
    text-decoration-line: none;
}

.link-seti img {
    width: 60px;
    margin-right: 25px;
}

.age-img img {
    width: 80px;
}

.last-in-footer {
    font-size: 35px;
    color: rgba(0, 0, 0, 0.6);
}











