html, body, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, hr, img, a, em, span, strong, form, label, input, button, select, table, thead, tbody, tfoot, tr, th, td, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    vertical-align: baseline;
    font: inherit;
    font-family: 'Montserrat';
}

.scrollup {
    position: fixed;
    cursor: pointer;
    display: none;
    width: 100px;
    height: 100px;
    bottom: 30px;
    right: 15px;
    text-align: center;
    z-index: 30;
    background: #FFF04B;
    border-radius: 50%;
}

.div {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    vertical-align: baseline;
    font: inherit;
    height: 0;
}

.header .wrap {
    display: flex;
    justify-content: space-between;
    padding: 37px 10px 0;
}

.wrap {
    max-width: 1145px;
    margin: 0 auto;
    padding: 0 10px;
}

.logo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #232323;
}

.header__phone {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
    color: #232323;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
}

.menu-item {
    box-sizing: border-box;
    width: 117px;
    height: 42px;
    margin-right: 17px;
    border: 1px solid #232323;
    border-radius: 22px;
    list-style-type: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item_active {
    box-sizing: border-box;
    width: 117px;
    height: 42px;
    margin-right: 17px;
    border: 1px solid #232323;
    border-radius: 22px;
    list-style-type: none;
    text-align: center;
    display: flex;
    background: #232323;
    align-items: center;
    justify-content: center;
}

.root-item_active {
    text-decoration-line: none;
    color: white;
}

.top-menu__wrap {
    max-width: 1230px;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
}

.root-item {
    text-decoration-line: none;
    color: #232323;
}

.search-btn, .search-form {
    border-radius: 50%;
    float: left;
    width: 40px;
    height: 40px;
    margin: 0 0 0 -100%;
    position: relative;
    left: 7px
}

.search-form {
    z-index: 50;
    width: 324px;
}

.search-form form {
    width: 324px;
    border-radius: 20px;
    background: #f6fafa;
}

.search-form input {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
}

.search-btn {
    background: url('../../img/search-btn.png') no-repeat;
    max-width: 20px;
    margin: 0 0 0 -40px;
    left: 0;
    cursor: pointer
}

.sort {
    display: flex;
    justify-content: flex-start;
    background: #FFFFFF;
    border-radius: 4px;
}

.sorting {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    margin-right: 15px;
}

.items {
    margin-bottom: 60px;
}

.clinic-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.clinic-info-left {
    text-align: center;
}

.clinic-phone img {
    max-width: 100px;
}

.clinic-doctors {
    margin-top: 11px;
    font-size: 19px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.clinic-doctors img {
    max-width: 18px;
    margin-right: 5px;
}

.clinic-reviews img {
    max-width: 20px;
}

.reviews-count {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

.percent-review {
    font-style: normal;

    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 5px;
}

.clinic-info {
    font-size: 30px;
    line-height: 37px;
}

.clinic-info-center {
}

.photo-clinic img {
    max-width: 60%;
}

.clinic-name {
    font-size: 30px;
}

.clinic-type {
    font-size: 18px;
}

.clinic-address {
    font-family: 'Inter';
}

.clinic-text-block {
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
}


.clinic-schedule {
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
}


.clinic-metro {
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);

}

.clinic-metro-near {
    margin-bottom: 11px;
}

.clinic-metro-further {
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 23px;
}

.clinic-phone {
    margin-bottom: 42px;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
}

.btn_records {
    background: #FFF04B;
    border-radius: 4px;
    width: 241px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn_records a {
    font-family: 'Rubik';
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: none;
    color: #000000;
}

.btn_escape {
    border-radius: 4px;
    width: 241px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #E4E4E4;
    margin-right: 15px;
}

.btn_escape a {
    font-family: 'Rubik';
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: none;
    color: #AAAAAA;
}

.record_escape_btn {
    display: flex;
    justify-content: flex-end;
}

.clinic-service-items {
    width: 100%;
    margin-left: 100px;
    display: flex;
}

.clinic-service-text {
    text-align: center;
}

.review-clinic-text {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #232323;
}


.service-name {
    text-decoration-line: underline;
    width: 31.5%;
    margin: 36px 17px 5px 1px;
}

.first, .second, .third {
    width: 33.3%;
}

.under-services-phone {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 25px;
}

.clinic-under-services {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.condition-visit {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.3);
}

.popular-doctor-img {
    margin-bottom: 30px;
}

.popular-doctor-img img {
    max-width: 55%;
}

.swiper-main__slide {
    display: flex;
}

.doctor-name {
    margin-bottom: 10px;
}

.doctor-category {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

.doctor-spec {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 18px;
    color: rgba(0, 0, 0, 0.5);
}


.doctor-address {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 13px;
}

.doctor-phone {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}

.doctor-card {
}

.rating-body {
    box-sizing: border-box;
    width: 76px;
    height: 31px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 22px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.rating-body img {
    max-width: 18px;
}

.doctor-rating {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.popular-doctor__body {
    display: flex;
}

.popular-doctor {
    padding: 17px 30px;
    width: 100%;
}

.popular-doctor-container {
    border: 1px solid #BCBCBC;
    margin-right: 30px;
}

.reviews-count {
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.info-docspec {
    text-align: center;
    margin: 40px;
}

.popup-questions {
    text-align: center;
    margin: 40px;
}

.breadcrumbs-item {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.8);
}

.breadcrumbs {
    margin-bottom: 30px;
}


.review-clinic-address {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.review-clinic-name {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.review-clinic-text {
    margin: 60px;
}

.review-doctor-spec {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.last-review-clinic {
    background: #F7EDDF;
}

.review__clinics {
    display: flex;
}

.last-review-clinic_wrap {
    height: 767px;
    max-width: 1145px;
    margin: 0 auto;
    padding: 0 10px;
}

.last-review-clinic__card-clinic {
    width: 379px;
    height: 204px;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-right: 15px;
}

.last-review-clinic__card-clinic__photo img {
    width: 81px;
}

.clinic-card-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.clinic-card-container {
    padding: 17px 30px;
    width: 100%;
}

.counts-reviews {
    font-style: normal;
    font-size: 12px;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.7);
}

.last-review-clinic-count img {
    width: 20px;
}

.last-review-clinic-count {
    height: 25px;
}

.author-review {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
}

.comment-head {
    font-weight: 500;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
}

.comment {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
}

.first-question {
    background: rgba(217, 217, 217, 0.15);
    border-radius: 4px;
    height: auto;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 25px;
}

.first-question span {

}

.second-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(217, 217, 217, 0.15);
    border-radius: 4px;
    height: 34px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-bottom: 25px;
}

.second-question span {
    font-weight: 300;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
}

.third-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(217, 217, 217, 0.15);
    border-radius: 4px;
    height: 34px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-bottom: 25px;
}

.third-question span {
    font-weight: 300;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
}


.footer {
    height: 896px;
    background: #F7EDDF;
}

.footer-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 80px;
}

.clinic-about {
    width: 100%;
    display: flex;
    min-height: 100%;
    padding: 80px calc(3% + 15px);
}

.name-clinics-footer {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #232323;
}

.head-block {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 25px;
}

.mail-footer a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.7);
}

.linked-footer {
    list-style-type: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #0C0C0C;
    padding: 0;
}

.linked-name {
    color: #0C0C0C;
    margin-bottom: 25px;
}

.linked-footer li {
    margin-bottom: 15px;
}

.first-block {
    width: 25%;
}

.second-block {
    width: 25%;
}

.third-block {
    width: 25%;
}

.fourth-block {
    width: 25%;
}

.link-seti img {
    width: 28px;
    margin: 4px;
}

.age-img {
    margin-right: 15px;
}

.age-img img {
    width: 35px;
    color: rgba(0, 0, 0, 0.8);
}

.link-seti a {
    text-decoration: none;
}

.left-content-footer {
}

.phone-footer {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
    color: #000000;
    margin-bottom: 10px;
}

.social-media {
    display: flex;
}

.reference-footer {
    margin-bottom: 31px;
}

.email-footer {
    text-align: center;
}

.email-footer a {
    text-decoration-line: none;
    font-size: 20px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.7);
}

.last-in-footer {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}

.ooo-inn {
    font-style: normal;
    font-weight: 500;
    width: 190px;
    height: 80px;
    text-align: right;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.44);
}

.under-clinic-about {
    display: flex;
    justify-content: space-between;
}


.modal_window {
    background: #FFFFFF;
    border-radius: 4px;
}

.window_main-text {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.window_main-text p {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.appointment {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
}

.doctor-clinics {
    background: rgba(217, 217, 217, 0.15);
    border-radius: 4px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    width: 552px;
    height: 53px;
    padding: 10px;
    display: flex;
    margin: 0 10px 15px 0;
    justify-content: space-between;
}

.doctor-clinics span {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.8);
}

.doctor {
    margin-bottom: 15px;
}

.change {
    color: #FF6472;
}

.sms {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #8B8D93;
}

.form {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8B8D93;
}