html, body, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, hr, img, a, em, span, strong, form, label, input, button, select, table, thead, tbody, tfoot, tr, th, td, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    vertical-align: baseline;
    font: inherit;
    font-family: 'Montserrat';
}

.scrollup {
    cursor: pointer;
    width: 100px;
    height: 100px;
    text-align: center;
    background: #FFF04B;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    flex-direction: column;
    float: right;
}

.div {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    vertical-align: baseline;
    font: inherit;
    height: 0;
}

.head_container .wrap {
    display: flex;
    justify-content: space-between;
    padding: 37px 10px 0;
}

.wrap {
    width: 1270px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.logo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #232323;
}

.header__phone {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
    color: #232323;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
}

.menu-item {
    box-sizing: border-box;
    width: 117px;
    height: 42px;
    margin: 10px;
    border: 1px solid #232323;
    border-radius: 22px;
    list-style-type: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item_active {
    box-sizing: border-box;
    width: 117px;
    height: 42px;
    margin: 10px;
    border: 1px solid #232323;
    border-radius: 22px;
    list-style-type: none;
    text-align: center;
    display: flex;
    background: #232323;
    align-items: center;
    justify-content: center;
}

.root-item_active {
    text-decoration-line: none;
    color: white;
}

.top-menu__wrap {
    width: 1270px;
    max-width: 100%;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
}

.root-item {
    text-decoration-line: none;
    color: #232323;
}

.search-btn, .search-form {
 /*   border-radius: 50%;
    float: left;
    width: 40px;
    height: 40px;
    margin: 0 0 0 -100%;
    position: relative;
    left: 7px*/
}

.search-form {
    border-bottom: 1px solid #BCBCBC;
    width: 274px;
    height: 35px;
    background: no-repeat;
    color: #8A8A8E;
}

.search img {
    width: 20px;
}

.sort {
    display: flex;
    justify-content: flex-start;
    background: #FFFFFF;
    border-radius: 4px;
    margin-bottom: 60px;
}

.sorting {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    margin-right: 15px;
}

.items {
    margin-bottom: 60px;
}

.clinic-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.clinic-card__left {
    text-align: center;
}

.clinic-card__phone img {
    max-width: 17px;
    margin-right: 15px;
}

.clinic-card__doctors {
    margin-top: 11px;
    font-size: 19px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.clinic-card__doctors img {
    max-width: 18px;
    margin-right: 5px;
}

.clinic-card__reviews img {
    max-width: 20px;
}

.clinic-card__reviews-count {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

.clinic-card__reviews {
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 5px;
    text-decoration-line: none;
}

.clinic-info {
    font-size: 30px;
    line-height: 37px;
}

.clinic-card__photo-clinic img {
    max-width: 60%;
}

.clinic-card__name {
    font-size: 30px;
    margin-bottom: 15px;
}

.clinic-card__type {
    font-size: 18px;
    margin-bottom: 15px;
}

.clinic-card__address {
    font-family: 'Inter';
    margin-bottom: 15px;
}

.clinic-card__text-block {
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
}


.clinic-card__clinic-schedule {
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 25px;
}


.clinic-card__metro {
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
}

.clinic-card__metro img {
    width: 10px;
}

.clinic-card__metro-near {
    margin-bottom: 11px;
}

.clinic-card__metro-further {
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 23px;
}

.clinic-card__phone {
    margin-bottom: 42px;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
}

.btn_records {
    background: #FFF04B;
    border-radius: 4px;
    width: 241px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn_records a {
    font-family: 'Rubik';
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: none;
    color: #000000;
}

.btn_escape {
    border-radius: 4px;
    width: 241px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #E4E4E4;
    margin-right: 15px;
}

.btn_escape a {
    font-family: 'Rubik';
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: none;
    color: #AAAAAA;
}

.record_escape_btn {
    display: flex;
    justify-content: flex-end;
}

.services {
    margin-bottom: 50px;
}

.service__body {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.service__title {
    text-align: center;
}

.service-item {
    text-decoration-line: underline;
    margin: 36px 17px 5px 1px;
}

.service-item a {
    color: rgba(0, 0, 0, 0.8);
}


.service__clinic-phone {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 25px;
}

.service__clinic-phone img {
    width: 20px;
    margin-right: 13px;
}

.service__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.service__condition-visit a {
    color: rgba(0, 0, 0, 0.3);
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    text-decoration-line: underline;
}

.service__condition-visit img {
    width: 20px;
    margin-right: 20px;
}

.popular-doctor__img {
    margin-bottom: 30px;
}

.popular-doctor__img img {
    max-width: 55%;
}

.swiper-main__slide {
    display: flex;
    justify-content: space-between;
}

.popular-doctor__doctor-name {
    margin-bottom: 10px;
}

.popular-doctor__doctor-category {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

.popular-doctor__doctor-spec {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 18px;
    color: rgba(0, 0, 0, 0.5);
}

.percent-review {
    color: #000000;
    text-decoration-line: none;
}

.popular-doctor__doctor-address {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 13px;
    display: flex;
}

.popular-doctor__doctor-address img {
    width: 15px;
    margin-right: 20px;
    height: 22px;
}

.popular-doctor__doctor-phone {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
}

.popular-doctor__doctor-phone img {
    width: 15px;
    margin-right: 20px;
}

.rating-body {
    box-sizing: border-box;
    width: 76px;
    height: 31px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 22px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.rating-body img {
    max-width: 18px;
}

.doctor-rating {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.popular-doctor__head {
    display: flex;
}

.popular-doctor {
    padding: 17px 30px;
    width: 100%;
    border: 1px solid #BCBCBC;
}

.popular-doctor-container {
    width: 340px;
    height: 450px;
}

.reviews-count {
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.info-docspec {
    text-align: center;
    margin: 40px;
}

.popularquestions {
    margin-bottom: 100px;
}

.popup-questions {
    text-align: center;
    margin: 40px;
}

.breadcrumbs-item {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.8);
    margin-right: 10px;
}

.breadcrumbs img {
    margin-right: 10px;
    width: 15px;
    height: 15px;
}

.breadcrumbs {
    margin-bottom: 30px;
    align-items: center;
}


.last-review__clinic-address {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #000000;
}

.last-review__clinic-name {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 7px;
}

.last-review__doctor-count-reviews {
    margin-left: 80px;
}

.last-review__clinic-top {
    display: flex;
    flex-direction: row-reverse;
}

.review-clinic-text {
    margin: 60px;
}

.review-doctor-spec {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.last-review {
    margin-top: 50px;
    background: #F7EDDF;
}

.last-review__clinic-title {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #232323;
    padding: 50px;
}

.last-review__clinics {
    display: flex;
    justify-content: space-between;
}

.last-review__clinic {
    margin-top: 30px;
}

.last-review__clinic-card {
    width: 400px;
    height: 210px;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.last-review__clinic-card__photo img {
    width: 81px;
}

.last-review__clinic-card__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.last-review__clinic-card-container {
    padding: 17px 30px;
    width: 100%;
}

.counts-reviews {
    font-style: normal;
    font-size: 15px;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.7);
}

.last-review__clinic-count-reviews img {
    width: 20px;
}

.last-review__clinic-count-reviews {
    height: 25px;
}

.last-review__clinic__author-review {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
}

.last-review__clinic__author-review img {
    width: 13px;
    margin-right: 5px;
}

.last-review__clinic__comment-head {
    font-weight: 500;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 5px;
}

.last-review__clinic__comment {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
}

.last-review__doctor-title {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #232323;
    padding: 40px;
}



.review-clinic-text {
    margin: 60px;
}

.review-doctor-spec {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.last-review__doctors {
    display: flex;
    justify-content: space-between;
}

.last-review_wrap {
    height: 800px;
    width: 1270px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.last-review__doctor-card {
    width: 400px;
    height: 210px;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.last-review__doctor-card__photo img {
    width: 81px;
}

.last-review__doctor-card__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.last-review__doctor-card-container {
    padding: 17px 30px;
    width: 100%;
}

.last-review__doctor-count-reviews img {
    width: 20px;
}

.last-review__doctor-count-reviews {
    height: 25px;
}

.last-review__doctor-author-review {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
}

.last-review__doctor-author-review img {
    width: 13px;
    margin-right: 5px;
}

.last-review__doctor-comment-head {
    font-weight: 500;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 5px;
}

.last-review__doctor-comment {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
}

.last-review__doctor-title {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #232323;
    padding: 40px;
}

.first-question {
    background: rgba(217, 217, 217, 0.15);
    border-radius: 10px;
    height: auto;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    padding: 10px 25px;
    margin-bottom: 25px;
}

.first-question p {
    font-weight: 300;
    font-size: 19px;
    color: rgba(0, 0, 0, 0.8);
}

.first-question span {
    display: flex;
    justify-content: space-between;
}

.first-question img {
    width: 13px;
    height: 10px;
}

.second-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(217, 217, 217, 0.15);
    border-radius: 10px;
    height: 50px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    padding: 10px 25px;
    margin-bottom: 25px;
}

.second-question span {
    font-weight: 300;
    font-size: 19px;
    color: rgba(0, 0, 0, 0.8);
}

.second-question img {
    width: 13px;
}

.third-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(217, 217, 217, 0.15);
    border-radius: 10px;
    height: 50px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    padding: 10px 25px;
    margin-bottom: 25px;
}

.third-question span {
    font-weight: 300;
    font-size: 19px;
    color: rgba(0, 0, 0, 0.8);
}

.third-question img {
    width: 13px;
}


.footer__container{
    height: 800px;
    background: #F7EDDF;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 80px 200px;
}

.footer__body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 80px;
}

.footer__head {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #232323;
}

.mail-footer a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.7);
}

.linked-footer {
    list-style-type: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #0C0C0C;
    padding: 0;
}

.linked-name {
    color: #0C0C0C;
    margin-bottom: 25px;
}

.linked-footer li {
    margin-bottom: 15px;
}

.link-seti img {
    width: 28px;
    margin: 4px;
}

.age-img {
    margin-right: 15px;
}

.age-img img {
    width: 35px;
    color: rgba(0, 0, 0, 0.8);
}

.link-seti a {
    text-decoration: none;
}


.phone-footer {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
    color: #000000;
    margin-bottom: 10px;
}

.social-media {
    display: flex;
}

.reference-footer {
    margin-bottom: 31px;
}

.email-footer {
    text-align: center;
}

.email-footer a {
    text-decoration-line: none;
    font-size: 20px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.7);
}

.last-in-footer {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}

.ooo-inn {
    font-style: normal;
    font-weight: 500;
    width: 190px;
    height: 80px;
    text-align: right;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.44);
}

.footer__communication {
    display: flex;
    justify-content: space-between;
}





.modal_window {
    background: #FFFFFF;
    border-radius: 4px;
}

.window_main-text {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.window_main-text p {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.appointment {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
}

.doctor-clinics {
    background: rgba(217, 217, 217, 0.15);
    border-radius: 4px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    width: 552px;
    height: 53px;
    padding: 10px;
    display: flex;
    margin: 0 10px 15px 0;
    justify-content: space-between;
}

.doctor-clinics span {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.8);
}

.doctor {
    margin-bottom: 15px;
}

.change {
    color: #FF6472;
}

.sms {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #8B8D93;
}

.form {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8B8D93;
}


@media(max-width: 1200px) {
    .last-review__clinics {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: center;
    }

    .last-review__clinic-card {
        margin: 20px;
    }

    .last-review__doctors {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: center;
    }

    .last-review__doctor-card {
        margin: 20px;
    }

    .last-review_wrap {
        height: auto;
        background: #F7EDDF;
    }

    .footer__container {
        height: auto;
        padding: 50px 50px;
    }

    .footer__body {
        padding: 30px;
    }
}

@media(max-width: 1100px) {
    .swiper-main__slide {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: center;
    }

    .popular-doctor-container {
        margin: 20px;
    }
}