html, body, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, hr, img, a, em, span, strong, form, label, input, button, select, table, thead, tbody, tfoot, tr, th, td, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    vertical-align: baseline;
    font: inherit;
    font-family: 'Montserrat';
}

.div {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    vertical-align: baseline;
    font: inherit;
    height: 0;
}

.head_container .wrap {
    display: flex;
    justify-content: space-between;
    padding: 37px 10px 0;
}

.head_container {
    margin-bottom: 35px;
}

.wrap {
    max-width: 1145px;
    margin: 0 auto;
    padding: 0 10px;
}

.burger-menu {
    background: url("../../img/menu-btn.png") no-repeat;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.logo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 24px;
    color: #232323;
}

.search-form {
    font-size: 35px;
}

.main_wrap {
    max-width: 850px;
    margin: 0 auto;
    padding: 0 10px;
}

.sort {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}

.sort_popular {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sort_rating {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sort_count_review {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sorting {
    color: rgba(0, 0, 0, 0.5);
    text-decoration-line: none;
    margin-right: 33px;
}

.items {
    margin-bottom: 30px;
}

.doctor-card {
    margin: 50px 0 150px;
}

.doctor-photo-review {
    text-align: center;
}

.doctor-info-head {
    display: flex;
}

.clinic-review img {
    width: 30px;
}

.doctor-name {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #000000;
}

.photo-doctor {
    margin-right: 25px;
}

.photo-doctor img {
    width: 300px;
    margin-bottom: 40px;
}

.doctor-category {
    color: rgba(0, 0, 0, 0.6);
    font-size: 30px;
}

.clinic-reviews {

}

.reviews-count {
    font-size: 30px;
}

.percent-review {
    font-size: 40px;
    text-decoration-line: none;
    color: rgba(0, 0, 0, 0.7);
}

.doctor-spec {
    color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
}

.doctor-experience {
    color: #FF6472;
    font-size: 30px;
}

.doctor-clinics_active {
    width: 832px;
    height: 330px;
    background: rgba(255, 240, 75, 0.15);
    border-radius: 4px;
    font-size: 30px;
    padding: 40px;
    margin-bottom: 30px;
}

.doctor_clinic-name {
    display: flex;
    justify-content: space-between;
}

.doctor_clinic-items {
    padding: 20px;
}

.clinic-schedule {
    color: rgba(0, 0, 0, 0.5);
}

.doctor-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: rgba(217, 217, 217, 0.15);
    border-radius: 4px;
    width: 832px;
    height: 58px;
    font-size: 40px;
    margin-bottom: 50px;
}

.clinic-active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: rgba(217, 217, 217, 0.15);
    border-radius: 4px;
    width: 832px;
    height: 58px;
    font-size: 40px;
    margin-bottom: 50px;
}

.clinic-free-time-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.free-time {
    width: 255px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF04B;
    border-radius: 4px;
    font-size: 35px;
    margin: 10px;
}

.clinic-phone {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 50px;
}

.doctor-clinics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: rgba(217, 217, 217, 0.15);
    border-radius: 4px;
    width: 832px;
    height: 58px;
    font-size: 40px;
    margin-bottom: 50px;
}

.doctor-clinics span {
    font-size: 40px;
}

.doctor-card-button {
    display: flex;
    justify-content: center;
}

.btn_records {
    background: #FFF04B;
    border-radius: 4px;
    width: 500px;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_records a {
    font-family: 'Rubik';
    font-size: 50px;
    text-decoration-line: none;
    color: #000000;
}


.clinic-service-text {
    text-align: center;
}


.clinic-services_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}

.clinic-service-text {
    font-size: 50px;
    margin-bottom: 50px;
}

.service-name {
    font-size: 40px;
    text-decoration-line: underline;
    margin-bottom: 35px;
}

.clinic-service-items {
    padding: 0 40px;
}

.under-services-phone {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.condition-visit {
    font-size: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    text-decoration-line: underline;
    margin-top: 50px;
}

.last-review-clinic {
    margin-bottom: 100px;
}

.clinic_service-item {
    list-style-type: none;
    margin-bottom: 25px;
}

.clinic_service-popular_item {
    display: flex;
    border-bottom: #e8e8e8 2px solid;
    justify-content: space-between;
    font-size: 35px;
}

.clinic-review-count {
    font-size: 35px;
}

.clinic-card-main {
    display: flex;
}

.review_on_doctor {
    font-size: 35px;
    margin-bottom: 9px;
}

.review__clinics {
    border: 1px solid #BCBCBC;
    padding: 20px;
}

.review-doctor-spec {
    font-size: 35px;
    color: rgba(0, 0, 0, 0.5);
}

.review-doctor-count {
    font-size: 30px;
}

.abcde {
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.7);
}

.review-clinic-text {
    font-weight: 500;
    font-size: 60px;
    color: #232323;
    text-align: center;
    margin-bottom: 50px;
}

.review-clinic-name {
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    color: #000000;
}

.review-clinic-address {
    font-size: 33px;
}

.author-review {
    color: rgba(0, 0, 0, 0.7);
    font-size: 35px;
}

.comment-head {
    color: rgba(0, 0, 0, 0.8);
    font-size: 35px;
    font-weight: 500;
}

.comment {
    color: rgba(0, 0, 0, 0.7);
    font-size: 35px;
}

.clinic-service-text {
    text-align: center;
}

.attention-for-patient {
    border: 1px solid #FF6472;
    border-radius: 4px;
    width: auto;
    height: auto;
}

.attention-container {
    padding: 10px 70px;
}

.alert-for-view {
    font-size: 35px;
    color: #FF6472;
    text-align: center;
}

.alert-for-view img {
    width: 20px;
    color: red;
}

.alert-info {
    font-size: 35px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}


.breadcrumbs-item {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 24px;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.8);
}

.breadcrumbs {
    margin-bottom: 30px;
}

.info-docspec {
    text-align: center;
    font-weight: 500;
    font-size: 60px;
    color: #232323;
    margin: 40px;
}

.text-block {
    font-size: 35px;
}









.footer-head {
    height: auto;
    background: #F7EDDF;
}

.footer-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 40px 80px;
}

.footer-main {
    font-size: 30px;
}

.linked-footer {
    list-style-type: none;
}

.linked-name {
    text-decoration-line: none;
    color: rgba(12, 12, 12, 0.8);
    font-size: 35px;
}

.clinic-about {
    margin-bottom: 50px;
}

.content-footer {
    text-align: center;
}

.phone-footer {
    font-weight: 600;
    font-size: 45px;
    text-decoration-line: underline;
    color: #000000;
}

.footer_name-clinic {
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    color: #000000;
}

.email-footer {
    color: rgba(0, 0, 0, 0.7);
    text-decoration-line: none;
    font-size: 45px;
}

.ooo-inn {
    color: rgba(0, 0, 0, 0.44);
    margin-bottom: 40px;
}

.link-seti {
    margin-bottom: 40px;
}

.link-seti a {
    text-decoration-line: none;
}

.link-seti img {
    width: 60px;
    margin-right: 25px;
}

.age-img img {
    width: 80px;
}






















