html, body, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, p, hr, img, a, em, span, strong, form, label, input, button, select, table, thead, tbody, tfoot, tr, th, td, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    vertical-align: baseline;
    font: inherit;
    font-family: 'Montserrat';
}

.div {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    background: none;
    vertical-align: baseline;
    font: inherit;
    height: 0;
}

.header .wrap {
    display: flex;
    justify-content: space-between;
    padding: 37px 10px 0;
}

.wrap {
    width: 1270px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}


.logo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #232323;
}

.header__phone {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
    color: #232323;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
}

.menu-item_active {
    box-sizing: border-box;
    width: 117px;
    height: 42px;
    margin: 10px;
    border: 1px solid #232323;
    border-radius: 22px;
    list-style-type: none;
    text-align: center;
    display: flex;
    background: #232323;
    align-items: center;
    justify-content: center;
}

.root-item_active {
    text-decoration-line: none;
    color: white;
}

.menu-item {
    box-sizing: border-box;
    width: 117px;
    height: 42px;
    margin: 10px;
    border: 1px solid #232323;
    border-radius: 22px;
    list-style-type: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-menu__wrap {
    width: 1270px;
    max-width: 100%;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
}

.root-item {
    text-decoration-line: none;
    color: #232323;
}

.search-form {
    border-bottom: 1px solid #BCBCBC;
    width: 274px;
    height: 35px;
    background: no-repeat;
    color: #8A8A8E;
}

.search img {
    width: 20px;
}

.sort {
    display: flex;
    justify-content: flex-start;
    background: #FFFFFF;
    border-radius: 4px;
    margin-bottom: 30px;
}

.sorting {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    margin-right: 15px;
}

.doctor-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.doctor-card__left {
    text-align: center;
}

.doctor-card__center {
}

.photo-doctor img {
    width: 150px;
    margin-bottom: 15px;
}

.doctor-card__doctor-reviews {
    font-style: normal;
    text-decoration-line: none;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 5px;
}

.doctor-card__doctor-reviews img {
    max-width: 20px;
}

.doctor-card__doctor-name {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #000000;
    margin-bottom: 20px;
}

.doctor-card__doctor-category {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;
}

.doctor-card__doctor-spec {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.8);
}

.doctor-card__doctor-experience {
    color: #FF6472;
    margin-bottom: 10px;
}

.doctor-card__doctor-clinics_active {
    width: 552px;
    height: 174px;
    background: rgba(255, 240, 75, 0.15);
    border-radius: 4px;
    padding: 10px;
    margin: 20px 0;
}

.doctor-card__doctor_clinic-name span {
    font-size: 20px;
}


.doctor-card__doctor_clinic-items {
    padding: 10px;
}

.doctor-card__doctor_clinic-name {
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.doctor-card__doctor_clinic-name img {
    width: 17px;
    height: 12px;
}

.doctor-card__clinic-schedule {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.doctor-card__clinic-metro img {
    width: 10px;
}

.doctor-card__clinic-metro-further {
    color: rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

.doctor-card__doctor-clinics {
    background: rgba(217, 217, 217, 0.15);
    border-radius: 4px;
    width: 552px;
    height: 53px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.doctor-card__doctor-clinics img {
    width: 15px;
    height: 11px;
}

.doctor-card__doctor-clinics span {
    font-size: 20px;
}

.doctor-card__right {
    width: 400px;
}

.doctor-card__doctor-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(217, 217, 217, 0.15);
    border-radius: 4px;
    width: 352px;
    height: 58px;
    padding: 0 15px;
}

.doctor-card__doctor-date img {
    width: 10px;
    height: 15px;
}

.doctor-card__doctor-date span {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.doctor-card__clinic-active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(217, 217, 217, 0.15);
    border-radius: 4px;
    width: 352px;
    height: 58px;
    padding: 0 15px;
}

.doctor-card__clinic-active img {
    width: 15px;
}

.doctor-card__clinic-active span {
    font-weight: 300;
    font-size: 16px;
}

.doctor-card__clinic-free-time-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.free-time {
    width: 101px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF04B;
    border-radius: 4px;
    margin: 10px;
}

.free-time img {
    width: 18px;
    height: 12px;
}


.doctor-card__clinic-phone {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
}

.doctor-card__clinic-phone img {
    width: 20px;
    margin-right: 13px;
}

.doctor-card__doctor-registration {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.pagination_listing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

.pagination_item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 22px;
    margin: 0 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #BCBCBC;
}

.pagination_link {
    text-decoration-line: none;
    color: #BCBCBC;
}

.pagination_link-back {
    border: 1px solid #BCBCBC;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #BCBCBC;
    text-decoration-line: none;
}

.pagination_link-back img {
    width: 10px;
    height: 15px;
}

.pagination_link-active {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #185BC3;
    text-decoration-line: none;
}

.services {
    margin-bottom: 50px;
}

.service__body {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.service__title {
    text-align: center;
}

.service-item {
    text-decoration-line: underline;
    width: 31.5%;
    margin: 36px 17px 5px 1px;
}

.service-item a {
    color: rgba(0, 0, 0, 0.8);
}


.service__clinic-phone {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 25px;
}

.service__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.service__clinic-phone img {
    width: 20px;
    margin-right: 13px;
}

.service__condition-visit a {
    color: rgba(0, 0, 0, 0.3);
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    text-decoration-line: underline;
}

.service__condition-visit img {
    width: 20px;
    margin-right: 20px;
}

.last-review__doctor-title {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #232323;
    padding: 40px;
}

.last-review__clinic-address {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.last-review__clinic-name {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.last-review__clinic-count-reviews {
    margin-left: 80px;
}

.last-review__clinic {
    margin: 10px 40px 0 0;
}

.review-clinic-text {
    margin: 60px;
}


.last-review__doctor {
    margin-top: 20px;
}

.last-review__doctor-name {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.last-review__doctor-surname {
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 4px;
}

.last-review__doctor-spec {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.last-review {
    margin-top: 50px;
    background: #F7EDDF;
}

.last-review__clinic-title {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #232323;
    padding: 50px;
}

.last-review__doctors {
    display: flex;
    justify-content: space-between;
}

.last-review_wrap {
    height: 450px;
    width: 1270px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.last-review__doctor-card {
    width: 400px;
    height: 210px;
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.last-review__doctor-card__photo img {
    width: 81px;
}

.last-review__doctor-card__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.last-review__doctor-card-container {
    padding: 17px 30px;
    width: 100%;
}

.counts-reviews {
    font-style: normal;
    font-size: 12px;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.7);
}

.last-review__doctor-count-reviews img {
    width: 20px;
}

.last-review__doctor-count-reviews {
    height: 25px;
}

.last-review__doctor-count-review {
    display: flex;
    flex-direction: row-reverse;
}

.last-review__doctor-author-review {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
}

.last-review__doctor-author-review img {
    width: 13px;
    margin-right: 5px;
}

.last-review__doctor-comment-head {
    font-weight: 500;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 5px;
}

.last-review__doctor-comment {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
}

.last-review__doctor-title {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #232323;
    padding: 40px;
}
.clinic-card-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.clinic-card-container {
    padding: 17px 30px;
    width: 100%;
}

.counts-reviews {
    font-style: normal;
    font-size: 12px;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.7);
}

.info-docspec {
    text-align: center;
    margin: 40px;
}


.attention-for-patient {
    margin: 40px 60px;
    height: 79px;
    display: flex;
    border: 1px solid #FF6472;
    border-radius: 4px;
    justify-content: center;
}

.attention-container {
    width: 1041px;
    padding: 10px 70px;
}

.attention-for-view {
    color: #FF6472;
    margin-bottom: 5px;
}

.attention-for-view img {
    width: 20px;
    color: red;
}

.attention-info {
    color: rgba(0, 0, 0, 0.7);
}

.breadcrumbs-item {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.8);
    margin-right: 10px;
}

.breadcrumbs img {
    margin-right: 10px;
    width: 15px;
    height: 15px;
}

.breadcrumbs {
    margin-bottom: 30px;
    align-items: center;
}


.btn_records {
    background: #FFF04B;
    border-radius: 4px;
    width: 241px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.btn_records a {
    font-family: 'Rubik';
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: none;
    color: #000000;
}


.footer__container{
    height: 800px;
    background: #F7EDDF;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 80px 200px;
}

.footer__body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 80px;
}

.footer__head {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #232323;
}

.mail-footer a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.7);
}

.linked-footer {
    list-style-type: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #0C0C0C;
    padding: 0;
}

.linked-name {
    color: #0C0C0C;
    margin-bottom: 25px;
}

.linked-footer li {
    margin-bottom: 15px;
}

.link-seti img {
    width: 28px;
    margin: 4px;
}

.age-img {
    margin-right: 15px;
}

.age-img img {
    width: 35px;
    color: rgba(0, 0, 0, 0.8);
}

.link-seti a {
    text-decoration: none;
}


.phone-footer {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
    color: #000000;
    margin-bottom: 10px;
}

.social-media {
    display: flex;
}

.reference-footer {
    margin-bottom: 31px;
}

.email-footer {
    text-align: center;
}

.email-footer a {
    text-decoration-line: none;
    font-size: 20px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.7);
}

.last-in-footer {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}

.ooo-inn {
    font-style: normal;
    font-weight: 500;
    width: 190px;
    height: 80px;
    text-align: right;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.44);
}

.footer__communication {
    display: flex;
    justify-content: space-between;
}


@media(max-width: 1200px) {
    .last-review__doctors {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: center;
    }

    .last-review__doctor-card {
        margin: 20px;
    }

    .last-review_wrap {
        height: auto;
        background: #F7EDDF;
    }

    .footer__container {
        height: auto;
        padding: 50px 50px;
    }

    .footer__body {
        padding: 30px;
    }

    .attention-for-patient {
        height: auto;
    }
}

@media(max-width: 1100px) {
    .doctor-card__doctor-clinics_active {
        width: auto;
        height: auto;
    }

    .doctor-card__doctor-clinics{
        width: auto;
        height: auto;
    }

    .doctor-card__doctor-date {
        width: 320px;
    }

    .doctor-card__clinic-active {
        width: 320px;
    }
}

@media(max-width: 900px) {
    .doctor-card__doctor-date {
        width: 280px;
    }

    .doctor-card__clinic-active {
        width: 280px;
    }

}